footer.footer-account
  .footer-account__created
    .footer-account__created-container
      .footer-account__created-title.
        Created by #[span #[b Elias Gutierrez]]

      .footer-account__created-navigation
        ul.footer-account__created-list
          li.footer-account__created-item: a.footer-account__created-link(href='https://github.com/blackcubes') GitHub

          li.footer-account__created-item: a.footer-account__created-link(href='https://www.linkedin.com/in/eliasgutierrez1991/') LinkedIn