extends baseAccount

block content
  main.main.main-account
    section.section-forgotpass
      .row
        .forgotpass
          .forgotpass__form
            form#forgotPassForm.form
              .form__group
                .form__title.u-center-text
                  h1.heading-primary.u-margin-bottom-small Password Reset

                  small.form__info-small.small-text Enter your email address. A password reset link will be sent to your email.
              
              .form__group
                input#email.form__input.input-text(type='email' placeholder='Email address' required)
                label.form__label.label-text(for='email') Please enter a valid email address.
              
              .form__group
                .form__link
                  small.form__link-small.small-text.
                    New to Kinetotickets #[a(href='/register' class='link') Sign up now].
              
              .form__group
                button.btn.btn--blue Send Email