extends baseAccount

block content
  main.main.main-account
    section.section-login
      .row
        .login
          .login__form
            form#loginForm.form(novalidate)
              .form__group
                .form__title.u-center-text
                  h1.heading-primary.u-margin-bottom-small Login

              .form__group
                input#email.form__input.input-text(type='email' name='email' placeholder='Email address*' required)
                label.form__label.label-text(for='email') Please enter your email address

              .form__group
                input#password.form__input.input-text(type='password' name='password' placeholder='••••••••' minlength='8' maxlength='60' required)
                label.form__label.label-text(for='password') Please enter your password

              .form__group
                .form__link
                  small.form__link-small.small-text: a.link(href="/forgotPassword") Forgot your email or password?

              .form__group
                .form__link
                  small.form__link-small.small-text.
                    New to Kinetotickets? #[a(href='/register' class='link') Sign up now].

              .form__group
                .form__captcha
                  small.form__link-small.small-text.
                    This is protected by reCAPTCHA and the Google #[a(href='https://policies.google.com/privacy' class='link') Privacy Policy] and #[a(href='https://policies.google.com/terms') Terms of Service] apply.

              .form__group
                button#btnLogin.btn.btn--blue Login