extends baseAccount

block content
  main.main.main-account
    section.section-resetpass
      .resetpass
        .resetpass__form
          form#resetpassForm.form(novalidate)
            .form__group
              .form__title.u-center-text
                h1.heading-primary.u-margin-bottom-small Reset Password

            .form__group
              input#newPass.form__input.input-text(type='password' name='password' placeholder='••••••••' minlength='8' maxlength='60' required)
              label.form__label.label-text(for='newPass') New password must contain between 8 and 60 characters with at least one number, one special character, and one capital letter

            .form__group
              input#confirmNewPass.form__input.input-text(type='password' name='password-confirm' placeholder='••••••••' required)
              label.form__label.label-text(for='confirmNewPass') Please confirm your new password

            .form__group
              button#btnResetPass.btn.btn--blue Reset