extends baseAccount

block content
  main.main.main-account
    .user-view
      .user-view__content
        .user-view__account-container
          .account-box
            .account-box__title.u-margin-top-small.u-margin-bottom-small
              h2.heading-secondary A Test Reviews Page
              - console.log(reviewIds)