svg {
  position: fixed;
  bottom: 0;
  left: 50%;
  transform: translateX(-50%);
  width: 55rem;
  max-width: 60rem;
  border-radius: 12.5rem 12.5rem 0 0;
  z-index: 101;

  @include respond(small-mobile) {
    width: 55rem;
  }

  @include respond(max-320) {
    width: 50rem;
  }

  @include respond(port-991x-768n) {
    width: 60rem;
    max-width: 60rem;
  }

  @include respond(port-1199x-992n) {
    width: 70rem;
    max-width: 70rem;
  }

  @include respond(desktop) {
    width: 52rem;
  }

  & .icon text {
    transition: fill 0.2s linear 0s;

    // @include respond(max-320) {
    //   font-size: 2rem;
    // }

    // @include respond(max-375) {
    //   font-size: 2rem;
    // }

    @include respond(small-mobile) {
      font-size: 2rem;
    }

    @include respond(port-991x-768n) {
      font-size: 1.6rem;
    }

    @include respond(port-1199x-992n) {
      font-size: 1.4rem;
    }

    @include respond(desktop) {
      font-size: 1.2rem;
    }
  }

  & .menu-trigger a,
  & .menu-trigger text {
    transition: fill 0.2s linear 0s;

    // @include respond(max-320) {
    //   font-size: 2.4rem;
    // }

    @include respond(small-mobile) {
      font-size: 2.4rem;
    }

    @include respond(port-991x-768n) {
      font-size: 2rem;
    }

    @include respond(port-1199x-992n) {
      font-size: 1.8rem;
    }

    @include respond(desktop) {
      font-size: 1.6rem;
    }
  }

  & .menu-trigger.open text {
    fill: $color-black;
  }

  & .icon:hover text,
  & .icon:focus text,
  & .icon:active text,
  & .menu-trigger:hover text,
  & .menu-trigger:focus text,
  & .menu-trigger:active text {
    fill: $color-black;
    transition: fill 0.2s linear 0s;
  }
}
