svg {
  position: fixed;
  bottom: 0;
  left: 50%;
  transform: translateX(-50%);
  max-width: 60rem;
  border-radius: 12.5rem 12.5rem 0 0;
  z-index: 101;

  @include respond(max-320) {
    width: 50rem;
  }

  @include respond(desktop) {
    width: 52rem;
  }

  & .icon text {
    transition: fill 0.2s linear 0s;

    @include respond(max-320) {
      font-size: 2rem;
    }

    @include respond(desktop) {
      font-size: 1.2rem;
    }
  }

  & .menu-trigger a,
  & .menu-trigger text {
    transition: fill 0.2s linear 0s;

    @include respond(max-320) {
      font-size: 2.4rem;
    }

    @include respond(desktop) {
      font-size: 1.6rem;
    }
  }

  & .menu-trigger.open text {
    fill: $color-black;
  }

  & .icon:hover text,
  & .icon:focus text,
  & .icon:active text,
  & .menu-trigger:hover text,
  & .menu-trigger:focus text,
  & .menu-trigger:active text {
    fill: $color-black;
    transition: fill 0.2s linear 0s;
  }
}
