svg {
  position: fixed;
  bottom: 0;
  left: 50%;
  transform: translateX(-50%);
  max-width: 60rem;
  border-radius: 12.5rem 12.5rem 0 0;
  z-index: 101;

  @include respond(desktop) {
    width: 52rem;
  }

  & .icon > text {
    @include respond(desktop) {
      font-size: 1.2rem;
    }
  }

  & .menu-trigger > a,
  & .menu-trigger > text {
    @include respond(desktop) {
      font-size: 1.6rem;
    }
  }

  & .menu-trigger:hover > text {
    fill: $color-black;
  }
}
