.footer {
  font-family: inherit;
  color: $color-white;
  background-color: $color-dark-blue-1;
  margin-top: 2rem;
  
  &__follow {
    background-color: $color-lightseagreen;
    padding: 1rem;
    list-style: none;
    text-align: center;

    &-title {
      font-size: 1.5rem;
      padding-bottom: 1rem;
    }

    &-list {
      padding: 0;
      margin: 0;
    }

    &-item {
      display: inline-block;
    }

    &-link {
      display: block;
      color: $color-snow;
      background-color: $color-dark-blue-1;
      margin: 0 .5rem;
      padding: .6rem;
      border-radius: 50%;
    }

    .fa {
      &-github,
      &-linkedin {
        font-size: 3.2rem;
        color: $color-snow;
        width: 3.1rem;
        height: 3.1rem;
      }
    }
  }

  &__main {
    text-align: center;
  }

  &__navigation {
    margin-top: 2.5rem;
  }
  
  &__title {
    font-size: 1.5rem;
    text-transform: uppercase;
  }

  &__item {
    padding: 1rem;
  }

  &__link {
    font-size: 1.2rem;
  }

  &__lower {
    width: 100%;
    background-color: $color-black;
  }

  &__copyright {
    width: 90%;
    margin-left: auto;
    margin-right: auto;
    padding: 3.5rem 0 .5rem;

    &-content {
      display: block;
      font-size: 1.1rem;
      padding: 1.5rem 0;
    }
  }
}