.footer {
  font-family: inherit;
  color: $color-white;
  background-color: $color-dark-blue-1;
  margin-top: 2rem;
  
  &__follow {
    background-color: $color-lightseagreen;
    padding: 1rem;
    list-style: none;
    text-align: center;

    &-title {
      font-size: 1.5rem;
      padding-bottom: 1rem;
    }

    &-list {
      padding: 0;
      margin: 0;
    }

    &-item {
      display: inline-block;
    }

    &-link {
      display: block;
      color: $color-snow;
      background-color: $color-dark-blue-1;
      margin: 0 .5rem;
      padding: .6rem;
      border-radius: 50%;
    }

    .fa {
      &-github,
      &-linkedin {
        font-size: 3.2rem;
        color: $color-snow;
        width: 3.1rem;
        height: 3.1rem;
      }
    }
  }
}