.footer {
  font-family: inherit;
  color: $color-white;
  background-color: $color-dark-blue-1;
  // margin-top: 2rem;
  margin-bottom: 2rem;

  &__follow {
    background-color: $color-lightseagreen;
    padding: 1rem;
    list-style: none;
    text-align: center;

    @include respond(tab-port) {
      padding: 1.5rem;
    }

    @include respond(tab-land) {
      padding: 2rem;
    }

    &-title {
      //font-size: 1.5rem;
      padding-bottom: 1rem;
    }

    &-list {
      padding: 0;
      margin: 0;
    }

    &-item {
      display: inline-block;
    }

    &-link {
      display: block;
      color: $color-snow;
      background-color: $color-dark-blue-1;
      margin: 0 0.5rem;
      padding: 0.6rem;
      border-radius: 50%;

      @include respond(tab-land) {
        margin: 0 1rem;
      }
    }

    .fa {
      &-github,
      &-linkedin {
        font-size: 3.2rem;
        color: $color-snow;
        width: 3.1rem;
        height: 3.1rem;

        @include respond(tab-port) {
          font-size: 4.2rem;
          width: 4.1rem;
          height: 4.1rem;
        }

        @include respond(tab-land) {
          font-size: 4.7rem;
          width: 4.6rem;
          height: 4.6rem;
        }
      }
    }
  }

  &__main {
    text-align: center;
  }

  &__navigation {
    margin-top: 2.5rem;
    margin-bottom: 2.5rem;

    @include respond(tab-port) {
      display: inline-block;
      width: 50%;
      vertical-align: top;
      overflow: hidden;
    }
  }

  &__title {
    //font-size: 1.5rem;
    //text-transform: uppercase;
  }

  &__item {
    padding: 1rem;
  }

  &__link {
    //font-size: 1.2rem;
  }

  &__lower {
    width: 100%;
    background-color: $color-black;
  }

  &__copyright {
    width: 90%;
    margin-left: auto;
    margin-right: auto;
    padding: 2.5rem 0 2.5rem;

    @include respond(tab-port) {
      padding: 1.5rem 0 3.5rem;
    }

    &-content {
      display: block;
      //font-size: 1.1rem;
      padding: 1.5rem 0;
    }
  }
}

// ACCOUNT
.footer-account {
  height: 10rem;
  margin-top: 7rem;
  -webkit-box-shadow: 0rem 0.1rem 2rem 0rem rgba($color-lightseagreen, 0.7);
  -moz-box-shadow: 0rem 0.1rem 2rem 0rem rgba($color-lightseagreen, 0.7);
  box-shadow: 0rem 0.1rem 2rem 0rem rgba($color-lightseagreen, 0.7);

  &__created {
    height: 10rem;

    &-container {
      text-align: center;
      padding: 2rem;
      list-style: none;
    }

    &-title {
      color: $color-grey-blue;
      padding-bottom: 1rem;

      & > span {
        font-size: 1.5rem;
        color: $color-light-blue-2;
        text-transform: uppercase;

        @include respond(tab-port) {
          font-size: 1.7rem;
        }
      }
    }

    &-list {
      padding: 0;
      margin: 0;
    }

    &-item {
      display: inline-block;

      &:nth-child(2)::before {
        content: ' | ';
        margin: 0 0.8rem;
      }
    }

    &-link {
      color: $color-grey-blue;

      &:hover {
        color: rgb(61, 70, 78);
      }
    }
  }
}
