.container {
  background-color: $color-bg-dark-green-blue-1;
  background-image: linear-gradient(to bottom,
  $color-bg-dark-green-blue-1,
  $color-bg-dark-green-blue-2);
}

.nav {
  overflow: hidden;
}

.nav__left {
  float: right;
}

.nav__right {
  float: left;
}

.nav__region {
  position: absolute;
  top: 5rem;
  left: 0;
  right: 0;
  background-color: $color-lightseagreen;
  border-top: .1rem solid $color-white;
}

.nav__region-menu {
  list-style: none;
  display: flex;
  justify-content: space-between;
  text-align: center;
}

.nav__region-link {
  display: block;
  padding: 1rem;
}

.nav__profile {
  float: right;
  padding: 1rem;
}

#toggle { display: none; }

#toggle:checked {
  & ~ .nav__toggle-container .nav__toggle-button {
    box-shadow: 0 0 0 55rem rgba($color-black, .1), inset 0 0 0 2rem rgba($color-black, .1);

    &:before {
      transform: translateY(-50%) rotate(45deg) scale(1);
    }

    &:after {
      transform: translateY(-50%) rotate(-45deg) scale(1);
    }
  }

  & ~ .nav__toggle-menu {
    margin-bottom: 10rem;
    pointer-events: auto;
    transform: translate(0rem, 7rem);

    .nav__toggle-item {
      color: $color-white;
      letter-spacing: 0;
      height: 4rem;
      line-height: 4rem;
      margin-top: 0;
      opacity: 1;
      transform: scaleY(1);
      transition: $transition-duration, opacity .1s;

      @for $i from 1 through $items {
        &:nth-child(#{$i}) {
          $delay: ($items - $i) * $transition-delay;
          transition-delay: $delay;
          &:before {
            transition-delay: $delay;
          }
        }
      }

      &:before {
        opacity: 0;
      }
    }
  }
}

.nav__toggle-button {
  position: absolute;
  display: inline-block;
  width: 2.5rem;
  height: 2rem;
  margin: 1.5rem;
  background-color: transparent;
  border: none;
  cursor: pointer;
  border-radius: 100%;
  transition: $transition-duration + .1;

  &:hover {
    box-shadow: 0 0 0 .8rem rgba($color-black, .1), inset 0 0 0 2rem rgba($color-black, .1);
  }

  &:before, &:after {
    position: absolute;
    content: "";
    top: 50%;
    left: 0;
    width: 60%;
    height: 2px;
    background-color: $color-white;
    border-radius: .5rem;
    transition: $transition-duration;
  }

  &:before {
    transform: translateY(-50%) rotate(45deg) scale(0);
  }

  &:after {
    transform: translateY(50%) rotate(-45deg) scale(0);
  }
}

.nav__toggle-container {
  float: left;
}

.nav__toggle-menu {
  display: inline-block;
  margin: 1.5rem;
  pointer-events: none;
  transition: $transition-duration;
}

.nav__toggle-item {
  position: relative;
  display: inline-block;
  float: left;
  clear: both;
  color: transparent;
  font-size: 1.4rem;
  letter-spacing: -.62rem;
  height: .7rem;
  line-height: .6rem;
  text-transform: uppercase;
  white-space: nowrap;
  transform: scaleY(.2);
  transition: $transition-duration, opacity 1s;

  @for $i from 1 through $items {
    &:nth-child(#{$i}) {
      $delay: ($i - 1) * $transition-delay;
      transition-delay: $delay;
      &:before {
        transition-delay: $delay;
      }
    }
  }

  &:nth-child(1) {
    letter-spacing: -.8rem;
  }

  &:nth-child(2) {
    letter-spacing: -.7rem;
  }

  &:nth-child(n + 4) {
    letter-spacing: -.8rem;
    margin-top: -.7rem;
    opacity: 0;
  }

  &:before {
    position: absolute;
    content: "";
    top: 50%;
    left: 0;
    width: 110%;
    height: 2px;
    background-color: $color-white;
    transform: translateY(-50%) scaleY(5);
    transition: $transition-duration - .3;
  }
}