$items: 5;
$transition-duration: .5s;
$transition-delay: .05s;

.container {
  background-color: $color-bg-dark-green-blue-1;
  background-image: linear-gradient(to bottom,
  $color-bg-dark-green-blue-1,
  $color-bg-dark-green-blue-2);
}

#toggle { display: none; }

.nav__toggle-button {
  position: absolute;
  display: inline-block;
  width: 2rem;
  height: 2rem;
  margin: 5rem;
  background-color: transparent;
  border: none;
  cursor: pointer;
  border-radius: 100%;
  transition: $transition-duration + 0.1;

  &:hover {
    box-shadow: 0 0 0 8px rgba(0, 0, 0, 0.1), inset 0 0 0 20px rgba(0, 0, 0, 0.1);
  }
}