.table {
  display: table;
  width: 100%;
}

.tbody {
  display: table-row-group;
}

.trow {
  display: table-row;

  & > .td:first-child {
    float: left;
  }

  & > .td:last-child {
    float: right;
  }
}

.td {
  display: table-cell;
}
