.table {
  display: table;
  width: 100%;

  @include respond(desktop) {
    width: 80rem;
    margin-left: auto;
    margin-right: auto;
  }
}

.tbody {
  display: table-row-group;
}

.trow {
  display: table-row;

  & > .td:first-child {
    color: $color-grey-blue;
    font-weight: 700;
    float: left;
  }

  & > .td:last-child {
    float: right;
  }
}

.td {
  display: table-cell;

  &:not(.additional-box__organizer-title),
  &:not(.additional-box__organizer-value) {
    @include respond(tab-land) {
      margin-top: 1rem;
    }
  }
}
