// MOBILE FIRST @ 480px

@import "abstracts/functions";
@import "abstracts/mixins";
@import "abstracts/variables";

@import "base/animations";
@import "base/base";
@import "base/typography";
@import "base/utilities";

@import "components/button";

@import "layout/header";

@import "pages/home";

body {
  font-family: 'Montserrat', sans-serif;
  font-weight: 400;
}

/* NAVBAR */
.header {
  background-color: $color-bg-dark-green-blue-1;
  background-image: linear-gradient(to bottom,
  $color-bg-dark-green-blue-1,
  $color-bg-dark-green-blue-2);
}