body {
  font-family: 'Montserrat', sans-serif;
  font-weight: 400;
  color: $color-white;
}

.heading-primary {
  font-size: $font-size-primary-small;
  text-transform: uppercase;
  letter-spacing: 0.3rem;
}

.heading-secondary {
  font-size: $font-size-secondary-small;
  text-transform: uppercase;
  text-align: center;

  @include respond(tab-port) {
    font-size: $font-size-secondary-medium;
  }

  &--gradient-1 {
    color: transparent;
    background-image: linear-gradient(
      -20deg,
      $color-lightseagreen,
      $color-light-blue-2
    );
    -webkit-background-clip: text;
    background-clip: text;
  }

  &--gradient-2 {
    color: transparent;
    background-image: linear-gradient(
      -270deg,
      $color-lightseagreen,
      $color-green-2,
      $color-light-silver
    );
    -webkit-background-clip: text;
    background-clip: text;
  }
}

.heading-tertiary {
  font-size: $font-size-tertiary-small;
  text-transform: uppercase;

  @include respond(tab-port) {
    font-size: $font-size-tertiary-medium;
  }
}

.paragraph {
  font-size: $default-font-size;
  font-weight: 300;
  line-height: 1.5;
  letter-spacing: 0.1rem;

  @include respond(tab-port) {
    font-size: $default-font-size--tab-port;
    line-height: 1.8;
  }
}

.average-text {
  font-size: $font-size-average;

  @include respond(tab-port) {
    font-size: $font-size-average--tab-port;
  }
}

.book-text {
  font-size: $font-size-book;
}

.small-text {
  font-size: $font-size-small;
}

.input-text {
  font-family: inherit;
  font-size: $default-font-size;
  color: $color-white;
  background-color: rgba($color-white, 0.3);
}

.label-text {
  font-size: $font-size-book;
  font-weight: 700;
  color: $color-lightseagreen;
}

// MapBox Typography
.map-paragraph {
  color: $color-black;
  font-size: $default-font-size;
  font-weight: 500;
}
