body {
  font-family: 'Montserrat', sans-serif;
  font-weight: 400;
  color: $color-white;
}

.heading-primary {
  font-size: $font-size-primary-small;
  text-transform: uppercase;
  letter-spacing: 0.3rem;

  @include respond(tab-port) {
    font-size: $font-size-primary-medium;
    letter-spacing: 1rem;
  }

  @include respond(tab-land) {
    letter-spacing: 2rem;
  }

  // @include respond(desktop) {
  //   font-size: $font-size-primary-large;
  // }
}

.heading-secondary {
  font-size: $font-size-secondary-small;
  text-transform: uppercase;
  text-align: center;

  @include respond(tab-port) {
    font-size: $font-size-secondary-medium;
  }

  @include respond(tab-land) {
    // font-size: $font-size-secondary-large;
    letter-spacing: 0.5rem;
  }

  @include respond(desktop) {
    // font-size: $font-size-secondary-large;
    // letter-spacing: 1rem;
  }

  &--gradient-1 {
    color: transparent;
    background-image: linear-gradient(
      -20deg,
      $color-lightseagreen,
      $color-light-blue-2
    );
    -webkit-background-clip: text;
    background-clip: text;
  }

  &--gradient-2 {
    color: transparent;
    background-image: linear-gradient(
      -270deg,
      $color-lightseagreen,
      $color-green-2,
      $color-light-silver
    );
    -webkit-background-clip: text;
    background-clip: text;
  }
}

.heading-tertiary {
  font-size: $font-size-tertiary-small;
  text-transform: uppercase;

  @include respond(tab-port) {
    font-size: $font-size-tertiary-medium;
  }

  // @include respond(tab-land) {
  //   font-size: $font-size-tertiary-large;
  // }

  // @include respond(desktop) {
  //   font-size: $font-size-tertiary-large;
  // }
}

.paragraph {
  font-size: $default-font-size;
  font-weight: 300;
  line-height: 1.5;
  letter-spacing: 0.1rem;

  @include respond(tab-port) {
    font-size: $default-font-size--tab-port;
    line-height: 1.8;
  }

  @include respond(tab-land) {
    font-size: $default-font-size--tab-land;
    line-height: 2.1;
  }

  @include respond(desktop) {
    font-size: $default-font-size;
    letter-spacing: 0.13rem;
  }
}

.average-text {
  font-size: $font-size-average;

  // Check on this for all pages!!!!
  @include respond(tab-port) {
    font-size: $font-size-average--tab-port;
  }

  @include respond(tab-land) {
    font-size: $font-size-average--tab-land;
  }
}

.book-text {
  font-size: $font-size-book;

  @include respond(tab-port) {
    font-size: $font-size-book--tab-port;
  }

  @include respond(tab-land) {
    font-size: $font-size-book--tab-land;
  }

  @include respond(desktop) {
    font-size: $font-size-book;
  }
}

.small-text {
  font-size: $font-size-small;

  @include respond(tab-port) {
    font-size: $font-size-small--tab-port;
    line-height: 1.7;
  }

  @include respond(tab-land) {
    font-size: $font-size-small--tab-land;
    line-height: 2;
  }

  @include respond(desktop) {
    font-size: 0.8rem;
  }
}

.input-text {
  font-family: inherit;
  font-size: $default-font-size;
  color: $color-white;
  background-color: rgba($color-white, 0.3);

  @include respond(tab-port) {
    font-size: $default-font-size--tab-land;
  }

  @include respond(tab-land) {
    font-size: 2.4rem;
  }

  @include respond(desktop) {
    font-size: $font-size-book;
  }
}

.label-text {
  font-size: $font-size-book;
  font-weight: 700;
  color: $color-lightseagreen;

  @include respond(tab-port) {
    font-size: $font-size-book--tab-port;
  }

  @include respond(tab-land) {
    font-size: $font-size-book--tab-land;
  }

  @include respond(desktop) {
    font-size: 0.8rem;
  }
}

// MapBox Typography
.map-paragraph {
  color: $color-black;
  font-size: $default-font-size;
  font-weight: 500;
}
