footer.footer
  .footer__follow
    .footer__follow-title.heading-tertiary Follow Elias Gutierrez
    .footer__follow-navigation
      ul.footer__follow-list
        li.footer__follow-item: a.footer__follow-link(href='https://github.com/blackcubes'): i.fab.fa-github
        li.footer__follow-item: a.footer__follow-link(href='https://www.linkedin.com/in/eliasgutierrez1991/'): i.fab.fa-linkedin
  .footer__main
    .footer__upper
      .footer__navigation
        h3.footer__title.heading-tertiary About Kinetotickets
        ul.footer__list
          li.footer__item: a.footer__link.book-text(href='#') About Us
          li.footer__item: a.footer__link.book-text(href='#') Careers
          - let userLink = '/login'
          if user
            - userLink = '/me'
          li.footer__item: a.footer__link.book-text(href=`${userLink}`) My Account
      .footer__navigation
        h3.footer__title.heading-tertiary Shows | More
        ul.footer__list
          li.footer__item: a.footer__link.book-text(href='/shows') Shows
          li.footer__item: a.footer__link.book-text(href='/theaters') Theaters
          li.footer__item: a.footer__link.book-text(href='#') Ratings Information
      .footer__navigation
        h3.footer__title.heading-tertiary Customer Service
        ul.footer__list
          li.footer__item: a.footer__link.book-text(href='#') FAQs
          li.footer__item: a.footer__link.book-text(href='#') Contact Us
      .footer__navigation
        h3.footer__title.heading-tertiary Security | Privacy
        ul.footer__list
          li.footer__item: a.footer__link.book-text(href='#') Terms of Use
          li.footer__item: a.footer__link.book-text(href='#') Privacy Policy
          li.footer__item: a.footer__link.book-text(href='#') Cookies Policy
          li.footer__item: a.footer__link.book-text(href='#') Do Not Sell My Information
    .footer__lower
      .footer__copyright
        small.footer__copyright-content.small-text.
          Email: #[a(href='mailto:gutierrezelias1991@gmail.com') gutierrezelias1991@gmail.com] &nbsp; | &nbsp; Phone: #[a(href='tel:5595953839') 559-595-3839]
          #[br]
          10am - 8pm PST Mon-Fri &nbsp; | &nbsp; 10am - 4pm PST Sat&Sun
        small.footer__copyright-content.small-text.
          This site is protected by reCAPTCHA and the Google #[a(href='https://policies.google.com/privacy') Privacy Policy] and #[a(href='https://policies.google.com/terms') Terms of Service] may apply.
        small.footer__copyright-content.small-text.
          Icons made by #[a(href='https://www.flaticon.com/authors/alfredo-hernandez' title='Alfredo Hernandez') Alfredo Hernandez] from #[a(href='https://www.flaticon.com/' title='Flaticon') www.flaticon.com]
        small.footer__copyright-content.small-text.
          Icons made by #[a(href='https://www.flaticon.com/authors/google' title='Google') Google] from #[a(href='https://www.flaticon.com/' title='Flaticon') www.flaticon.com]
        small.footer__copyright-content.small-text.
          &copy; 2020 Kinetotickets is owned and operated by Elias Gutierrez under a license from MIT License. The owner is responsible for the site's content, but is not responsible on all aspects of your purchases since you cannot actually purchase anything on this website.