header.container
  nav.nav
    .nav__left: a.nav__logo(href='#') Home
    .nav__right
      .nav__region
        ul.nav__region-menu
          li.nav__region-item: a.nav__region-link(href='#') The Shows
          li.nav__region-item: a.nav__region-link(href='#') The Theaters
          li.nav__region-item: a.nav__region-link(href='#') Special Venues
      .nav__toggle-wrapper
        a.nav__profile(href='#') Join The Club
        input#toggle(type='checkbox')
        label.nav__toggle-container(for='toggle')
          span.button.nav__toggle-button
        ul.nav__toggle-menu
          li.nav__toggle-item: a.nav__toggle-link(href='#') About Kinetotickets
          li.nav__toggle-item: a.nav__toggle-link(href='#') More
          li.nav__toggle-item: a.nav__toggle-link(href='#') Members
          li.nav__toggle-item: a.nav__toggle-link(href='#') Careers
          li.nav__toggle-item: a.nav__toggle-link(href='#') Contact Us