header.header-container
  nav.nav
    .nav__left
      .nav__region
        ul.nav__region-menu.average-text
          li.nav__region-item: a.nav__region-link(href='/shows') The Shows
          li.nav__region-item: a.nav__region-link(href='/theaters') The Theaters
          li.nav__region-item: a.nav__region-link(href='/special-venues') Special Venues

      a.nav__logo(href='/'): img.nav__logo-img(src='/img/icon-large.png', alt="Home Logo")

    .nav__right
      .nav__toggle-wrapper
        if user
          a.nav__profile.nav__profile--logout Logout
          a.nav__profile(href='/me')
            - let sourcePath = user.role === 'admin' ? '/img/users/admin.png' : '/img/users/default.jpg'
            if user.cloudinaryPhoto.cloudinaryUrl !== 'default.jpg' || user.cloudinaryPhoto.cloudinaryUrl !== 'admin.png'
              - sourcePath = user.cloudinaryPhoto.cloudinaryUrl

            img.nav__user-img(src=`${sourcePath}`, alt=`${user.name}'s photo`)
            span= user.name.split(' ')[0]

        else
          a.nav__profile(href='/register') Join The Club
          a.nav__profile(href='/login') Login
        input#navToggle(type='checkbox')
        label.nav__toggle-container(for='navToggle')
          span.button.nav__toggle-button
        ul.nav__toggle-menu
          li.nav__toggle-item: a.nav__toggle-link(href='#') Kinetotickets
          li.nav__toggle-item: a.nav__toggle-link(href='#') More
          li.nav__toggle-item: a.nav__toggle-link(href='#') Members
          li.nav__toggle-item: a.nav__toggle-link(href='#') Careers
          li.nav__toggle-item: a.nav__toggle-link(href='#') Contact Us
    
    .nav__aside
      ul.nav__aside-menu
        li.nav__aside-item: a.nav__aside-link(href='#') Kinetotickets
        li.nav__aside-item: a.nav__aside-link(href='#') More
        li.nav__aside-item: a.nav__aside-link(href='#') Members
        li.nav__aside-item: a.nav__aside-link(href='#') Careers
        li.nav__aside-item: a.nav__aside-link(href='#') Contact Us