extends base

block content
  main.main
    .user-view
      .user-view__content
        .user-view__admin-container
          .admin-box
            .admin-box__title.u-margin-top-small.u-margin-bottom-small
              h2.heading-secondary Main Settings

            //- USERS
            .admin-box__options-container.u-center-text
              .showtimes-box__theatertime
                .showtimes-box__theatertime-poster
                  a.showtimes-box__theatertime-poster-link.picture-link(href='/admin/user-options')
                    img.showtimes-box__theatertime-poster-img(src='/img/users/users.png', alt='Users Photo')

                .showtimes-box__theatertime-theater.u-margin-bottom-small
                  h3.showtimes-box__theatertime-theater-name.heading-tertiary Users

                .showtimes-box__ticket-buy
                  a.btn.btn__promo(href='/admin/user-options') Select

            .line &nbsp;

            //- SHOWS
            .admin-box__options-container.u-center-text
              .showtimes-box__theatertime
                .showtimes-box__theatertime-poster
                  a.showtimes-box__theatertime-poster-link.picture-link(href='/admin/show-options')
                    img.showtimes-box__theatertime-poster-img(src='/img/shows/shows.png', alt='Shows Photo')

                .showtimes-box__theatertime-theater.u-margin-bottom-small
                  h3.showtimes-box__theatertime-theater-name.heading-tertiary Shows

                .showtimes-box__ticket-buy
                  a.btn.btn__promo(href='/admin/show-options') Select

            .line &nbsp;

            //- THEATERS
            .admin-box__options-container.u-center-text
              .showtimes-box__theatertime
                .showtimes-box__theatertime-poster
                  a.showtimes-box__theatertime-poster-link.picture-link(href='/admin/theater-options')
                    img.showtimes-box__theatertime-poster-img(src='/img/theaters/theaters.png', alt='Theaters Photo')

                .showtimes-box__theatertime-theater.u-margin-bottom-small
                  h3.showtimes-box__theatertime-theater-name.heading-tertiary Theaters

                .showtimes-box__ticket-buy
                  a.btn.btn__promo(href='/admin/theater-options') Select

            .line &nbsp;

            //- SHOWTIMES
            .admin-box__options-container.u-center-text
              .showtimes-box__theatertime
                .showtimes-box__theatertime-poster
                  a.showtimes-box__theatertime-poster-link.picture-link(href='/admin/showtimes-options')
                    img.showtimes-box__theatertime-poster-img(src='/img/theaters/ticket.png', alt='Showtimes Photo')

                .showtimes-box__theatertime-theater.u-margin-bottom-small
                  h3.showtimes-box__theatertime-theater-name.heading-tertiary Showtimes

                .showtimes-box__ticket-buy
                  a.btn.btn__promo(href='/admin/showtimes-options') Select

            .line &nbsp;

            //- CASTCREWS
            .admin-box__options-container.u-center-text
              .showtimes-box__theatertime
                .showtimes-box__theatertime-poster
                  a.showtimes-box__theatertime-poster-link.picture-link(href='/admin/castcrews')
                    img.showtimes-box__theatertime-poster-img(src='/img/castcrew/castcrews.jpg', alt='Cast and Crews Photo')

                .showtimes-box__theatertime-theater.u-margin-bottom-small
                  h3.showtimes-box__theatertime-theater-name.heading-tertiary Cast | Crews

                .showtimes-box__ticket-buy
                  a.btn.btn__promo(href='/admin/castcrews') Select