doctype html
html
  head
    meta(charset='UTF-8')
    meta(name='viewport' content='width=device-width, initial-scale=1.0')
    link(rel='stylesheet' href='https://fonts.googleapis.com/css2?family=Montserrat:wght@100;300;400;500;700;900&display=swap')
    link(rel='stylehseet' href='css/style.css')
    link(rel='stylesheet' ref='css/all.css')
    title Kinetotickets | Rare Movie Tickets, Special Venues, Locations and Time
    script(src='https://api.mapbox.com/mapbox-gl-js/v1.9.0/mapbox-gl.js')
    script(rel='stylesheet' href='https://api.mapbox.com/mapbox-gl-js/v1.9.0/mapbox-gl.css')

  body
    header.container
      nav.nav
        .nav__left
          a.nav__logo(href='#') Home
        .nav__right
          .nav__region
            ul.nav__region-menu
              li.nav__region-item
                a.nav__region-link(href='#') The Movies
              li.nav__region-item
                a.nav__region-link(href='#') The Theaters
              li.nav__region-item
                a.nav__region-link(href='#') Special Venues
          .nav__toggle-wrapper
            a.nav__profile(href='#') Join The Club
            input#toggle(type='checkbox')
            label.nav__toggle-container(for='toggle')
              span.button.nav__toggle-button
            ul.nav__toggle-menu
              li.nav__toggle-item
                a.nav__toggle-link(href='#') About Kinetotickets
              li.nav__toggle-item
                a.nav__toggle-link(href='#') More
              li.nav__toggle-item
                a.nav__toggle-link(href='#') Members
              li.nav__toggle-item
                a.nav__toggle-link(href='#') Careers
              li.nav__toggle-item
                a.nav__toggle-link(href='#') Contact Us