extends base

block content
  main.main
    .user-view
      .user-view__content
        .user-view__form-containr
          form#eventOwnerCreateShowForm
            .form__group
              .title.u-center-text
                h1.heading-primary.u-margin-bottom-small Create Your Show

                small.form__info-small.small-text Let's create your show. Fields without * are optional.

            fieldset
              .form__group
                input#showTitle.form__input.input-text(type='text' placeholder='Title*' required)
                label.form__label.label-text(for='showTitle') Please give a title for your show.

              .form__group
                input#mpaaRating.form__input.input-text(type='text' placeholder='MPAA Rating*' required)
                label.form__label.label-text(for='mpaaRating') Please enter your show's MPAA Rating.

              .form__group
                input#showDuration.form__input.input-text(type='number' placeholder='Duration*' required)
                label.form__label.label-text(for='showDuration') Please enter your show's duration in minutes

              .form__group
                .form__date
                  .form__date-month
                    select#showOriginalMonth.dropdown(name='select-originalmonth' tabindex='0' required)
                      option(value) Original Month*

                      - const months = ['January', 'February', 'March', 'April', 'May', 'June', 'July', 'August', 'September', 'October', 'November', 'December']

                      each month in months
                        option(value=`${month}`)= month

                  .form__date-day
                    select#showOriginalDay.dropdown(name='select-originalday' tabindex='0' required)
                      option(value) Day*

                      - const days = [...Array(32).keys()].splice(1)

                      each day in days
                        option(value=`${day}`)= day

                  .form__date-year
                    select#showOriginalYear.dropdown(name='select-originalyear' tabindex='0' required)
                      option(value) Year*

                      - const now = new Date().getFullYear()
                      - const years = Array(now - (now - 101)).fill('').map((val, i) => now - i)

                      each year in years
                        option(value=`${year}`)= year
              
              .form__group
                .form__content-type
                  select#showContentType.dropdown(name='select-contenttype' tabindex='0' required)
                    option(value) Content Select*
                    option(value='Film') Film
                    option(value='TV') TV
              
              .form__group
                button.btn.btn--blue Next

            fieldset
              .form__group
                .form__text-area
                  textarea#showOverviewForm.form__text-area-content.input-text(name='textarea-overview' placeholder='Show Overview*')

              .form__group
                .form__text-area
                  textarea#showSynopsisForm.form__text-area-content.input-text(name='textarea-synopsis' placeholder='Show Synopsis (optional)')

              .form__group
                button.btn.btn--blue Next

              