extends ./account/baseAccount

block content
  main.main.main--error
    .error-page
      .error-page__background
        img.error-page__background-img(src='/img/error-main.jpg')

      .error-page__title
        h2.heading-secondary.heading-secondary--error I don't judge websites by their worst mistakes

      .error-page__message
        p.paragraph= msg