extends ./account/baseAccount

block content
  main.main
    .error
      .error__title
        h2.heading-secondary.heading-secondary--error I don't judge websites by their worst mistakes
      .error__message
        p.paragraph= msg