extends base

block content
  main.main
    .error
      .error__title
        h2.heading-secondary.heading-secondary--error I don't judge websites by their worst mistakes
      .error__message
        p.paragraph= msg
  script
    if (Modernizr.csstransforms)
      alert('Csstransforms is available!')