*,
*::before,
*::after {
  margin: 0;
  padding: 0;
  -webkit-box-sizing: inherit;
  -moz-box-sizing: inherit;
  box-sizing: inherit;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale; }

html {
  font-size: 62.5%; }

a {
  text-decoration: none; }

body {
  font-family: 'Montserrat', sans-serif;
  font-weight: 400; }

.container {
  background-color: #003733;
  background-image: linear-gradient(to bottom, #003733, #001B19); }

#toggle {
  display: none; }

.nav__toggle-button {
  position: absolute;
  display: inline-block;
  width: 2rem;
  height: 2rem;
  margin: 5rem;
  background-color: transparent;
  border: none;
  cursor: pointer;
  border-radius: 100%;
  transition: 0.6s; }
  .nav__toggle-button:hover {
    box-shadow: 0 0 0 8px rgba(0, 0, 0, 0.1), inset 0 0 0 20px rgba(0, 0, 0, 0.1); }
