*,
*::before,
*::after {
  margin: 0;
  padding: 0;
  -webkit-box-sizing: inherit;
  -moz-box-sizing: inherit;
  box-sizing: inherit;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale; }

html {
  font-size: 62.5%; }

a {
  text-decoration: none; }

body {
  font-family: 'Montserrat', sans-serif;
  font-weight: 400; }

.container {
  background-color: #003733;
  background-image: linear-gradient(to bottom, #003733, #001B19); }

#toggle {
  display: none; }
