.section-castcrew-header {
  width: 100%;

  & .heading-box {
    @include respond(min-768) {
      height: 65rem;
    }
  }

  .heading-box__background-img {
    -o-object-position: 35% 16%;
    object-position: 35% 16%;
  }
}

.section-castcrew-about,
.section-castcrew-resume {
  width: 95%;
  margin-left: auto;
  margin-right: auto;

  @include respond(tab-port) {
    width: 93%;
  }

  @include respond(tab-land) {
    width: 90%;
  }

  @include respond(desktop) {
    width: 98%;
  }
}

.section-castcrew-resume {
  margin-bottom: 3rem;
}

.heading-box {
  &__photo {
    position: absolute;
    top: 4rem;
    left: 1rem;

    @include respond(port-1199x-992n) {
      display: none;
    }

    @include respond(desktop) {
      display: none;
    }

    &-img {
      width: 50%;
      height: 50%;
    }
  }

  &__castcrew-data-container {
    position: absolute;
    width: 45%;
    top: 4rem;
    right: 1rem;

    @include respond(port-1199x-992n) {
      width: 95%;
      margin-left: auto;
      margin-right: auto;
      left: 0;
      right: 0;
      top: 10rem;
    }

    @include respond(desktop) {
      width: 95%;
      margin-left: auto;
      margin-right: auto;
      left: 0;
      right: 0;
      top: 14rem;
    }
  }

  &__castcrew-info-container {
    position: absolute;
    bottom: 1rem;
    left: 0;
    right: 0;
    margin-left: auto;
    margin-right: auto;

    @include respond(port-1199x-992n) {
      bottom: 5rem;
    }
  }
}

.about-box {
  margin-top: 5rem;

  &__title {
    @include respond(desktop) {
      margin-bottom: 0;
    }
  }

  &__description {
    margin-top: 3rem;

    @include respond(desktop) {
      margin-top: 0;
      padding: 5rem 7rem;
    }
  }
}
