.section-castcrew-header {
  width: 100%;
}

.heading-box {
  &__photo {
    position: absolute;
    top: 4rem;
    left: 1rem;

    &-img {
      width: 50%;
      height: 50%;
    }
  }

  &__castcrew-data-container {
    position: absolute;
    width: 45%;
    top: 4rem;
    right: 1rem;
  }

  &__castcrew-info-container {
    position: absolute;
    bottom: 1rem;
    left: 0;
    right: 0;
    margin-left: auto;
    margin-right: auto;
  }
}
