.section-castcrew-header {
  width: 100%;

  .heading-box__background-img {
    -o-object-position: 35% 16%;
    object-position: 35% 16%;
  }
}

.section-castcrew-about,
.section-castcrew-resume {
  width: 95%;
  margin-left: auto;
  margin-right: auto;

  @include respond(tab-port) {
    width: 93%;
  }

  @include respond(tab-land) {
    width: 90%;
  }
}

.section-castcrew-resume {
  margin-bottom: 3rem;
}

.heading-box {
  &__photo {
    position: absolute;
    top: 4rem;
    left: 1rem;

    &-img {
      width: 50%;
      height: 50%;
    }
  }

  &__castcrew-data-container {
    position: absolute;
    width: 45%;
    top: 4rem;
    right: 1rem;
  }

  &__castcrew-info-container {
    position: absolute;
    bottom: 1rem;
    left: 0;
    right: 0;
    margin-left: auto;
    margin-right: auto;
  }
}

.about-box {
  margin-top: 5rem;

  &__description {
    margin-top: 3rem;
  }
}
