.section-carousel,
.section-special-venues {
  width: 100%;
}

.section-member {
  width: 95%;
  margin-left: auto;
  margin-right: auto;
}

.member {
  &__image {
    background-image: url(../img/theatre-friends-large-1.jpg);
    background-color: $color-white;
    background-size: cover;
    background-position: center;
    height: 40rem;
    width: 100%;

    &:before {
      content: "";
      position: absolute;
      bottom: -1px;
      left: 50%;
      height: 0;
      border-left: 2.3rem solid transparent;
      border-right: 2.3rem solid transparent;
      border-bottom: 1.7rem solid #000912;
      z-index: 100;
      width: 100%;
    }

    &:after {
      left: -50%;
    }
  }

  &__header-wrapper {
    position: relative;
    top: -18rem;
    color: $color-white;
    font-size: 2.5rem;
    text-align: center;
  }
}