.section-carousel,
.section-special-venues {
  width: 100%;
}

.section-member {
  background-image: url(../img/theatre-friends-large-1.jpg);
  background-color: $color-white;
  background-size: cover;
  background-position: center;
  height: 40rem;
}