.section-home-carousel,
.section-home-special-venues,
.section-home-promo,
.section-home-member {
  width: 95%;
  margin-left: auto;
  margin-right: auto;

  @include respond(tab-port) {
    width: 93%;
  }

  @include respond(tab-land) {
    width: 90%;
  }

  @include respond(desktop) {
    width: 98%;
  }
}

// .section-map {
//   position: relative;
//   height: 30rem;
//   margin-top: 1rem;
// }

// .section-home-promo,
// .section-home-member {
//   width: 95%;
//   margin-left: auto;
//   margin-right: auto;
// }

.section-home-map,
.section-home-join {
  width: 100%;
  // background-color: $color-light-blue-2;
  // background-image: linear-gradient(0deg, $color-black, $color-light-blue-2);
}

.section-home-promo,
.section-home-member {
  margin-bottom: 2rem;
}

.section-home-promo {
  @include respond(desktop) {
    margin-bottom: 0.5rem !important;
  }
}

.home-carousel {
  margin-top: 7rem;

  &__header {
    color: $color-white;
    font-weight: 400;
    letter-spacing: 0.5rem;
  }
}

.home-special-venues {
  margin-top: 2rem;

  &__header {
    color: $color-white;
    font-weight: 400;
    letter-spacing: 0.5rem;
  }
}

.promo {
  background-color: $color-light-blue-2;
  background-image: linear-gradient(
    180deg,
    $color-lightseagreen,
    $color-light-blue-2
  );
  margin-top: 5rem;

  @include respond(desktop) {
    position: relative;
    height: 50rem;
    overflow: hidden;
    background-color: $color-black;
    background-image: none;
  }

  &__parallax {
    display: none;

    @include respond(desktop) {
      display: block;
      height: 100%;
      overflow: hidden;
    }

    &-img {
      @include respond(desktop) {
        // display: block;
        background-image: url(../img/mandalorian-large.jpg);
        background-color: $color-white;
        background-size: cover;
        background-position: center;
        height: 120%;
        width: 100%;
        position: absolute;
        top: -18rem;
        opacity: 0.9;
        // overflow: hidden;
      }
    }
  }

  &__image {
    background-image: url(../img/mandalorian-large.jpg);
    background-color: $color-white;
    background-size: cover;
    background-position: center;
    height: 40rem;
    width: 100%;
    position: relative;
    overflow: hidden;

    // @include respond(desktop) {
    //   height: 100%;
    // }
    @include respond(desktop) {
      display: none;
    }

    &:before,
    &:after {
      content: '';
      position: absolute;
      bottom: -1px;
      left: 50%;
      height: 0;
      border-left: 2.3rem solid transparent;
      border-right: 2.3rem solid transparent;
      border-bottom: 1.7rem solid $color-light-blue-2;
      z-index: 100;
      width: 100%;

      @include respond(desktop) {
        display: none;
      }
    }

    &:after {
      left: -50%;

      @include respond(desktop) {
        display: none;
      }
    }
  }

  &__header-wrapper {
    position: relative;
    top: -20rem;
    //color: transparent;
    //font-size: 2.5rem;
    //text-align: center;
    //background-image: linear-gradient(-20deg, $color-lightseagreen, $color-light-blue-2);
    //background-clip: text;
    //-webkit-background-clip: text;

    @include respond(desktop) {
      position: absolute;
      width: 40rem;
      margin-left: 2rem;
      top: 10rem;
    }
  }

  &__header {
    font-weight: 400;
    letter-spacing: 0.5rem;
  }

  &__text-wrapper {
    position: relative;
    top: -2rem;
    padding: 1.4rem;

    @include respond(desktop) {
      position: absolute;
      width: 40rem;
      height: 25rem;
      margin-left: 2rem;
      padding: 0;
      top: 22rem;
    }
  }

  &__text {
    //font-size: 1.74rem;
    //font-weight: 300;
    //color: $color-white;
    //line-height: 1.5;
    //letter-spacing: .1rem;
  }

  &__join {
    margin-top: 2rem;

    .btn__promo {
      font-size: 2rem;
      font-weight: 500;
      text-transform: uppercase;
    }
  }
}

.member {
  background-color: $color-green-1;
  background-image: linear-gradient(
    -20deg,
    $color-lightseagreen,
    $color-green-2,
    $color-light-silver
  );

  @include respond(desktop) {
    position: relative;
    height: 50rem;
  }

  &__image {
    background-image: url(../img/theatre-friends-large-1.jpg);
    background-color: $color-white;
    background-size: cover;
    background-position: center;
    height: 40rem;
    width: 100%;
    position: relative;
    overflow: hidden;

    @include respond(desktop) {
      height: 100%;
    }

    &:before,
    &:after {
      content: '';
      position: absolute;
      bottom: -1px;
      left: 50%;
      height: 0;
      border-left: 2.3rem solid transparent;
      border-right: 2.3rem solid transparent;
      border-bottom: 1.7rem solid $color-lightseagreen;
      z-index: 100;
      width: 100%;

      @include respond(desktop) {
        display: none;
      }
    }

    &:after {
      left: -50%;

      @include respond(desktop) {
        display: none;
      }
    }
  }

  &__header-wrapper {
    position: relative;
    top: -20rem;
    //color: transparent;
    //font-size: 2.5rem;
    //text-align: center;
    //background-image: linear-gradient(-270deg, $color-lightseagreen, $color-green-2, $color-light-silver);
    //background-clip: text;
    //-webkit-background-clip: text;

    @include respond(desktop) {
      position: absolute;
      width: 40rem;
      margin-left: 2rem;
      top: 10rem;
    }
  }

  &__header {
    font-weight: 400;
    letter-spacing: 0.5rem;
  }

  &__text-wrapper {
    position: relative;
    top: -2rem;
    padding: 1.4rem;

    @include respond(desktop) {
      position: absolute;
      width: 40rem;
      height: 25rem;
      margin-left: 2rem;
      padding: 0;
      top: 22rem;
    }
  }

  &__text {
    //font-size: 1.74rem;
    //font-weight: 300;
    //color: $color-white;
    //line-height: 1.5;
    //letter-spacing: .1rem;
  }

  &__join {
    margin-top: 2rem;

    .btn__join {
      font-size: 2rem;
      font-weight: 500;
      text-transform: uppercase;
    }
  }
}

.home-map {
  // padding-top: 2rem;
  padding-bottom: 2rem;

  @include respond(desktop) {
    padding-bottom: 4rem;
  }

  &__header-wrapper {
    margin-top: 5rem;

    @include respond(desktop) {
      margin-top: 7rem;
    }
  }

  &__header {
    // color: $color-black;
    font-weight: 400;
    letter-spacing: 0.5rem;
  }

  &__header-wrapper,
  &__text-wrapper {
    width: 95%;
    margin-left: auto;
    margin-right: auto;
  }

  &__text-wrapper {
    text-align: center;
    margin-top: 2rem;
    margin-bottom: 2rem;

    @include respond(desktop) {
      max-width: 80rem;
      padding: 2rem;
    }
  }

  &__text {
    color: $color-light-silver;
  }
}

.section-home-join {
  background-color: $color-snow;
  padding-bottom: 5rem;
}

.join-organizer {
  width: 95%;
  margin-left: auto;
  margin-right: auto;

  @include respond(desktop) {
    width: 98%;
  }

  &__header-wrapper {
    padding-top: 5rem;
    padding-bottom: 2rem;

    @include respond(desktop) {
      padding-top: 7rem;
    }
  }

  &__header {
    font-weight: 400;
    color: $color-black;
    letter-spacing: 0.5rem;
  }

  &__text-wrapper {
    text-align: center;
    background-color: $color-white;
    width: 90%;
    margin-left: auto;
    margin-right: auto;
    margin-top: 1.5rem;
    padding: 2rem;
    border: 1px solid transparent;
    -webkit-box-shadow: 0px 0px 5px 0px rgba($color-black, 0.5);
    -moz-box-shadow: 0px 0px 5px 0px rgba($color-black, 0.5);
    box-shadow: 0px 0px 5px 0px rgba($color-black, 0.5);

    @include respond(desktop) {
      width: 50rem;
      padding: 4rem;
    }
  }

  &__text {
    color: $color-light-blue;
    margin-top: 1.5rem;
    margin-bottom: 3rem;
  }
}

.join-signup {
  width: 95%;
  margin-top: 10rem;
  margin-left: auto;
  margin-right: auto;

  @include respond(desktop) {
    width: 50rem;
    padding: 2rem;
  }

  &__header-wrapper {
    padding: 1rem;
  }

  &__header {
    color: $color-black;
    font-weight: 400;
    letter-spacing: 0.1rem;
  }

  &__button-wrapper {
    @include respond(desktop) {
      padding: 1rem;
    }
  }
}
