.card-container {
  width: 95%;
  margin-left: auto;
  margin-right: auto;

  // @include respond(max-599) {
  //   max-width: 40rem;
  // }

  @include respond(big-mobile) {
    max-width: 40rem;
  }

  @include respond(tab-land) {
    max-width: none;
  }

  @include respond(port-1199x-992n) {
    max-width: none;
  }

  @include respond(desktop) {
    max-width: none;
  }
}
