.section-theater-header {
  width: 100%;

  .heading-box {
    height: 40rem;

    @include respond(tab-port) {
      // height: 55vh;
      height: 45rem;
    }

    @include respond(tab-land) {
      height: 55vw;
    }

    @include respond(desktop) {
      height: 63rem;
    }
  }
}

.section-theater-showtimes,
.section-theater-about {
  width: 95%;
  margin-left: auto;
  margin-right: auto;

  @include respond(tab-port) {
    width: 93%;
  }

  @include respond(tab-land) {
    width: 90%;
  }

  @include respond(desktop) {
    width: 98%;
  }
}

.section-theater-location {
  width: 95%;
  margin-left: auto;
  margin-right: auto;

  @include respond(tab-port) {
    width: 93%;
  }

  @include respond(tab-land) {
    width: 90%;
  }

  @include respond(desktop) {
    width: 98%;
  }
}

.section-theater-about {
  margin-bottom: 5rem;

  @include respond(desktop) {
    margin-top: 12rem;
  }
}

.heading-box {
  &__logo {
    position: absolute;
    top: 4rem;
    left: 1rem;

    @include respond(port-1199x-992n) {
      display: none;
    }

    @include respond(desktop) {
      display: none;
    }
  }

  &__theater-data-container {
    position: absolute;
    width: 55%;
    top: 4rem;
    right: 1rem;

    @include respond(port-1199x-992n) {
      width: 95%;
      margin-left: auto;
      margin-right: auto;
      left: 0;
      right: 0;
      top: 10rem;
    }

    @include respond(desktop) {
      width: 95%;
      margin-left: auto;
      margin-right: auto;
      left: 0;
      right: 0;
      top: 14rem;
    }
  }

  &__theater-info-container {
    position: absolute;
    margin-left: auto;
    margin-right: auto;
    left: 0;
    right: 0;
    bottom: 1rem;

    @include respond(port-1199x-992n) {
      bottom: 3rem;
    }
  }
}

.location-box {
  @include respond(desktop) {
    margin-top: 7rem;
  }

  &__map {
    margin-top: 3rem;

    @include respond(desktop) {
      margin-top: 5rem;
    }
  }
}

// .section-theater-showtimes {
//   .showtimes-box__theatertime-container {
//     @include respond(tab-land) {
//       width: 70%;
//       margin-left: auto;
//       margin-right: auto;
//     }
//   }
// }

.showtimes-box {
  &__theatertime {
    // FIX TRIANGLE!!
    &-poster {
      &-img {
        width: 100%;
        height: 100%;
      }
    }
  }

  &__metadata-container {
    text-align: center;
  }

  &__metadata {
    list-style-type: none;
    margin: 0;
    padding: 0;

    &-item {
      display: inline;
    }

    &-item:not(:last-child)::after {
      content: ' - ';
    }
  }
}
