.section-theater-header {
  width: 100%;

  .heading-box {
    height: 40rem;
  }
}

.section-theater-location,
.section-theater-showtmes,
.section-theater-about {
  width: 95%;
  margin-left: auto;
  margin-right: auto;
}

.heading-box {
  &__logo {
    position: absolute;
    top: 4rem;
    left: 1rem;
  }

  &__theater-data-container {
    position: absolute;
    width: 55%;
    top: 4rem;
    right: 1rem;
  }

  &__theater-info-container {
    position: absolute;
    bottom: 1rem;
  }
}

.showtimes-box {
  &__theatertime {
    // FIX TRIANGLE!!
    &-poster {
      &-img {
        width: 40%;
        height: 40%;
      }
    }
  }

  &__metadata-container {
    text-align: center;
    padding: 1rem;
  }

  &__metadata {
    list-style-type: none;
    margin: 0;
    padding: 0;

    &-item {
      display: inline;
    }

    &-item:not(:last-child)::after {
      content: ' - ';
    }
  }
}
