.btn {
  font-size: 1.6rem;
  text-transform: uppercase;
  text-decoration: none;
  padding: 1.5rem 4rem;
  display: inline-block;
  border-radius: 1rem;
  border: none;
  width: 90%;
  cursor: pointer;

  @include respond(tab-port) {
    font-size: 1.9rem;
  }

  @include respond(tab-land) {
    font-size: 2.2rem;
  }

  @include respond(desktop) {
    font-size: 1.7rem;
    height: 4.5rem;
  }

  &--duo {
    width: 100%;
  }

  &--blue {
    background-color: $color-lightseagreen;
    color: $color-black;
  }

  &--light-silver {
    background-color: $color-light-silver;
    color: $color-black;
  }

  &--red {
    background-color: $color-red;
    color: $color-black;
  }
}
