.row--scroll {
  overflow: scroll;
  width: 100%;
  -ms-overflow-style: none;
  scrollbar-width: none;

  &::-webkit-scrollbar {
    display: none;
  }

  .row__inner--poster {
    margin: ($tile-height-poster / 11) 0 ($tile-height-poster / 7) 0 !important;
  }

  .row__inner--ticket {
    transition: $carousel-transition-duration transform;
    white-space: nowrap;
    margin: ($tile-height / 4) 0 ($tile-height / 2) 0;
    padding-bottom: 1rem;
  }

  .row__inner {
    transition: $carousel-transition-duration transform;
    font-size: 0;
    white-space: nowrap;
    margin: ($tile-height / 4) 0 ($tile-height / 2) 0;
    padding-bottom: 1rem; // DO NO DELETE NOR COMMENT! USE JS TO REMOVE!!!

    &:hover,
    &:focus,
    &:active {
      transform: translate3d($carousel-move-left, 0, 0);
    }

    &:hover .tile,
    &:focus .tile,
    &:active .tile,
    &:hover .tile-show,
    &:focus .tile-show,
    &:active .tile-show,
    &:hover .tile-card,
    &:focus .tile-card,
    &:active .tile-card {
      opacity: 0.3;
      // transition: $carousel-transition-duration all ease-out; // ADD BY JS! SWIPERJS

      &:hover,
      &:focus,
      &:active {
        transform: scale($carousel-grow-factor);
        opacity: 1;
      }
    }

    // ADD WITH JS. SWIPERJS
    &:hover .tile:last-child:hover,
    &:hover .tile-show:last-child:hover,
    &:hover .tile-card:last-child:hover {
      margin: 0 -3rem;
      // transform: translate3d($carousel-move-left, 0, 0)
      //   scale($carousel-grow-factor); // SWIPERJS
    }
  }

  // FIX WITH RESPONSIVE!!!
  &.swiper-container {
    & .row__inner {
      padding-bottom: 0;

      &:hover .tile,
      &:focus .tile,
      &:active .tile,
      &:hover .tile-show,
      &:focus .tile-show,
      &:active .tile-show,
      &:hover .tile-card,
      &:focus .tile-card,
      &:active .tile-card {
        transition: $carousel-transition-duration all ease-out;
      }

      &:hover .tile:last-child:hover,
      &:hover .tile-show:last-child:hover,
      &:hover .tile-card:last-child:hover {
        margin: 0;
        transform: translate3d($carousel-move-left, 0, 0)
          scale($carousel-grow-factor);
      }
    }
  }
}

// ADD THIS WITH JS!! SWIPERJS
// FIX WITH RESPONSIVE!!!
.reviews-box__list-container > .row--scroll.swiper-container {
  height: 59rem;

  @include respond(tab-port) {
    height: 63rem;
  }

  @include respond(desktop) {
    height: 61rem;
  }
}

.tile {
  position: relative;
  display: inline-block;
  width: $tile-width;
  height: $tile-height;
  margin-right: 1rem;
  font-size: 2rem;
  cursor: pointer;
  transition: $carousel-transition-duration all; // ADD THE ENTIRE TRANSITION PROPERTY SINCE ADDED EASE-OUT IN JS. SWIPERJS
  transform-origin: center left;

  &__img {
    width: $tile-width; // DO NO DELETE NOR COMMENT! USE JS TO REMOVE!!!
    // width: 100%; // SWIPERJS
    height: $tile-height;
    object-fit: cover;
  }

  &__poster {
    width: $tile-width; // DO NO DELETE NOR COMMENT! USE JS TO REMOVE!!!
    // width: 100%; // SWIPERJS
    object-fit: cover;
  }

  &__details {
    position: absolute;
    bottom: 0;
    left: 0;
    right: 0;
    top: 0;
    font-size: 1rem;
    opacity: 0;
    background: linear-gradient(
      to top,
      rgba($color-black, 0.9) 0%,
      rgba($color-black, 0) 150%
    );
    transition: $carousel-transition-duration opacity;

    .tile__title {
      position: absolute;
      top: 50%;
      left: 50%;
      transform: translate(-50%, -50%);
    }
  }

  &__link {
    font-size: 1.6rem;
    text-shadow: 0px 2px 1px rgba($color-black, 1);

    @include respond(desktop) {
      font-size: 1.4rem;
    }
  }

  &:hover &__details,
  &:focus &__details,
  &:active &__details {
    opacity: 1;
  }

  // DO NO DELETE NOR COMMENT! USE JS TO REMOVE!!!
  &:first-child:hover,
  &:first-child:focus,
  &:first-child:active {
    margin-left: 5rem;
  }

  &:hover ~ &,
  &:focus ~ &,
  &:active ~ & {
    transform: translate3d($carousel-move-right, 0, 0);
  }

  // FIX WITH RESPONSIVE!!!
  &.swiper-slide {
    transition: $carousel-transition-duration all ease-out;

    @include respond(max-376) {
      margin-left: 0.5rem;
      margin-right: -0.4rem;
      // margin-right: 0;
    }

    & .tile__img,
    & .tile__poster {
      width: 100%;

      @include respond(max-376) {
        width: 42rem;
        height: 25rem;
      }
    }

    & .tile__title {
      @include respond(max-376) {
        left: 40%;
      }
    }

    & .tile__link {
      font-size: 1.2rem;

      @include respond(tab-port) {
        font-size: 1rem;
      }

      @include respond(tab-land) {
        font-size: 0.85rem;
      }

      @include respond(desktop) {
        font-size: 1rem;
      }
    }

    &:first-child:hover,
    &:first-child:focus,
    &:first-child:active {
      margin-left: 0;
    }
  }
}

.tile-show {
  position: relative;
  display: inline-block;
  width: $tile-width;
  // height: $tile-height;
  margin-right: 1rem;
  font-size: 2rem;
  cursor: pointer;
  transition: $carousel-transition-duration all; // ADD THE ENTIRE TRANSITION PROPERTY SINCE ADDED THE EASE-OUT IN JS. SWIPERJS
  transform-origin: center left;

  &__poster {
    width: $tile-width;
    object-fit: cover;
  }

  &__details {
    position: absolute;
    bottom: 0;
    left: 0;
    right: 0;
    top: 0;
    font-size: 1rem;
    opacity: 0;
    background: linear-gradient(
      to top,
      rgba($color-black, 0.9) 0%,
      rgba($color-black, 0) 150%
    );
    transition: $carousel-transition-duration opacity;

    .tile-show__title {
      position: absolute;
      top: 50%;
      left: 50%;
      transform: translate(-50%, -50%);
    }
  }

  &__link {
    font-size: 1.6rem;
    text-shadow: 0px 2px 1px rgba($color-black, 1);
  }

  &:hover &__details,
  &:focus &__details,
  &:active &__details {
    opacity: 1;
  }

  // DO NO DELETE NOR COMMENT! USE JS TO REMOVE!!!
  &:first-child:hover,
  &:first-child:focus,
  &:first-child:active {
    margin-left: 5rem;
  }

  &:hover ~ &,
  &:focus ~ &,
  &:active ~ & {
    transform: translate3d($carousel-move-right, 0, 0);
  }

  // ADD ALL WITH JS
  // &:hover & {
  //   transform: translate3d($carousel-move-left, 0, 0);
  // }

  // FIX WITH RESPONSIVE!!!
  &.swiper-slide {
    transition: $carousel-transition-duration all ease-out;

    @include respond(max-376) {
      margin-left: 0.5rem;
      margin-right: -0.4rem;
      // margin-right: 0;
    }

    & .tile__img,
    & .tile__poster {
      width: 100%;

      @include respond(max-376) {
        width: 43rem;
      }

      @include respond(max-320) {
        width: 35rem;
      }
    }

    & .tile-show__title {
      @include respond(max-376) {
        left: 40%;
      }
    }

    & .tile-show__link {
      font-size: 1.2rem;

      @include respond(tab-port) {
        font-size: 1rem;
      }

      @include respond(tab-land) {
        font-size: 0.85rem;
      }

      @include respond(desktop) {
        font-size: 1rem;
      }
    }

    &:first-child:hover,
    &:first-child:focus,
    &:first-child:active {
      margin-left: 0;
    }
  }
}

.tile-card {
  display: inline-table;
  position: relative;
  width: 30rem;
  height: 45rem;
  margin-left: 2rem;
  margin-right: 2rem;
  text-align: center;
  background-color: $color-light-blue-2;
  white-space: pre-wrap;
  cursor: pointer;
  transition: $carousel-transition-duration all; // ADD THE ENTIRE TRANSITION PROPERTY SINCE ADDED THE EASE-OUT IN JS. SWIPERJS
  transform-origin: center left;

  &__reviewer {
    background-image: linear-gradient(
      180deg,
      $color-lightseagreen,
      $color-light-blue-2
    );
    border-bottom: 0.1rem solid black;

    &-photo {
      padding: 0.5rem;
    }

    &-name {
      padding: 1rem;
    }
  }

  &__photo-img {
    width: 10rem; // DO NO DELETE NOR COMMENT! USE JS TO REMOVE!!!
    height: 10rem;
    border-radius: 50%;
  }

  &__review {
    width: 95%;
    margin-top: 1rem;
    margin-left: auto;
    margin-right: auto;

    &-text-wrapper {
      margin-top: 1rem;
    }

    &-text {
      color: white;
    }
  }

  // DO NO DELETE NOR COMMENT! USE JS TO REMOVE!!!
  &:first-child:hover,
  &:first-child:focus,
  &:first-child:active {
    margin-left: 5rem;
  }

  &:hover ~ &,
  &:focus ~ &,
  &:active ~ & {
    transform: translate3d($carousel-move-right, 0, 0);
  }

  // FIX WITH RESPONSIVE!!!
  &.swiper-slide {
    width: 100%;
    height: 47rem;
    margin-top: 2rem;
    margin-left: 0;
    border-radius: 3rem;
    transition: $carousel-transition-duration all ease-out;

    @include respond(tab-port) {
      max-width: 26rem;
      height: 51rem;
      margin-top: 2rem;
    }

    @include respond(tab-land) {
      height: 52rem;
    }

    @include respond(desktop) {
      height: 51rem;
    }

    & .tile-card__reviewer {
      border-top-left-radius: 3rem;
      border-top-right-radius: 3rem;

      &-photo {
        padding: 1rem;
      }
    }

    & .tile-card__photo-img {
      width: 8rem;
      height: 8rem;

      @include respond(tab-port) {
        // width: 11rem;
      }
    }

    & .tile-card__review {
      width: 90%;
    }

    & .form {
      width: 100%;

      @include respond(tab-port) {
        max-width: inherit;
      }

      &__input {
        height: 2rem;
        padding: 1rem;
      }

      &__label {
        margin-left: 0.5rem;
        margin-right: 0.5rem;

        @include respond(tab-port) {
          margin-left: 1rem;
          margin-right: 1rem;
        }
      }

      &__text-area {
        font-size: 1.2rem;
        height: 11rem;
        padding: 0.7rem;

        @include respond(tab-port) {
          font-size: 1.4rem;
          height: 14rem;
        }

        @include respond(tab-land) {
          font-size: 1.3rem;
        }

        @include respond(desktop) {
          font-size: 1.2rem;
        }
      }

      & button {
        font-size: 1.1rem;
        height: 2rem;
        padding: 1rem;
      }
    }

    &:first-child:hover,
    &:first-child:focus,
    &:first-child:active {
      margin-left: 0;
    }
  }
}

.tile-ticket {
  position: relative;
  display: inline-block;
  transition: $carousel-transition-duration all;
  transform-origin: center left;

  &:not(:first-child) {
    @include respond(tab-port) {
      margin-left: 5rem;
    }
  }

  &__media-link {
    display: inline-block;
    width: 40%;
    height: 40%;

    &--poster {
      @include respond(tab-port) {
        width: $tile-width; // DO NO DELETE NOR COMMENT! USE JS TO REMOVE!!!
        // width: 100%; // SWIPERJS
        height: $tile-height-poster;
      }
    }

    &--logo {
      @include respond(tab-port) {
        width: $tile-width; // DO NO DELETE NOR COMMENT! USE JS TO REMOVE!!!
        // width: 100%; // SWIPERJS
        height: $tile-height;
      }
    }
  }

  &__media-img {
    width: 100%;
    height: 100%;
    object-fit: cover;
  }

  &__title {
    @include respond(tab-port) {
      margin-top: 1.5rem;
    }

    &-content {
      letter-spacing: 0.5rem;
    }
  }

  &__metadata {
    list-style-type: none;
    margin: 0;
    padding: 0;

    &-item {
      display: inline;
    }

    &-item:not(:last-child)::after {
      content: ' - ';
    }
  }

  &__options {
    width: 80%;
    margin-left: auto;
    margin-right: auto;
    margin-top: 1rem;

    @include respond(tab-port) {
      margin-top: 1.5rem;
      // width: 60%;
    }

    // @include respond(tab-land) {
    //   width: 70%;
    // }

    // USE JS TO ADD/REMOVE!!! SWIPERJS
    // & > button {
    //   padding: 0;
    // }
  }

  // FIX WITH RESPONSIVE!!!
  &.swiper-slide {
    & .tile-ticket__media-link {
      width: 100%;

      &--poster {
        @include respond(tab-port) {
          width: 100%;
          height: 100%;
        }
      }

      &--logo {
        @include respond(tab-port) {
          width: 100%;
        }
      }
    }

    & .tile-ticket__title-content,
    & .tile-ticket__metadata-item,
    & .tile-ticket__datetime > p {
      font-size: 1.2rem;
    }

    & .tile-ticket__options > button {
      font-size: 1.2rem;
      // padding: 0.7rem;
      padding: 1rem;

      @include respond(tab-port) {
        padding: 1rem;
      }

      @include respond(desktop) {
        padding: 0.1rem;
      }
    }
  }
}
