.row--scroll {
  overflow: scroll;
  width: 100%;
  -ms-overflow-style: none;
  scrollbar-width: none;

  &::-webkit-scrollbar {
    display: none;
  }

  .row__inner--poster {
    margin: ($tile-height-poster / 11) 0 ($tile-height-poster / 7) 0 !important;
  }

  .row__inner--ticket {
    transition: $carousel-transition-duration transform;
    white-space: nowrap;
    margin: ($tile-height / 4) 0 ($tile-height / 2) 0;
    padding-bottom: 1rem;
  }

  .row__inner {
    transition: $carousel-transition-duration transform;
    font-size: 0;
    white-space: nowrap;
    margin: ($tile-height / 4) 0 ($tile-height / 2) 0;
    // padding-bottom: 1rem; // DO NO DELETE NOR COMMENT! USE JS TO REMOVE!!!

    &:hover {
      transform: translate3d($carousel-move-left, 0, 0);
    }

    &:hover .tile,
    &:hover .tile-show,
    &:hover .tile-card {
      opacity: 0.3;
      transition: $carousel-transition-duration all ease-out; // ADD BY JS!

      &:hover {
        transform: scale($carousel-grow-factor);
        opacity: 1;
      }

      // ADD WITH JS
      &:last-child:hover {
        margin-right: 5rem;
      }
    }
  }
}

.tile {
  position: relative;
  display: inline-block;
  width: $tile-width;
  height: $tile-height;
  margin-right: 1rem;
  font-size: 2rem;
  cursor: pointer;
  transition: $carousel-transition-duration all;
  transform-origin: center left;

  &__img {
    width: $tile-width;
    height: $tile-height;
    object-fit: cover;
  }

  &__poster {
    // width: $tile-width; // DO NO DELETE NOR COMMENT! USE JS TO REMOVE!!!
    width: 100%;
    object-fit: cover;
  }

  &__details {
    position: absolute;
    bottom: 0;
    left: 0;
    right: 0;
    top: 0;
    font-size: 1rem;
    opacity: 0;
    background: linear-gradient(
      to top,
      rgba($color-black, 0.9) 0%,
      rgba($color-black, 0) 150%
    );
    transition: $carousel-transition-duration opacity;

    .tile__title {
      position: absolute;
      top: 50%;
      left: 50%;
      transform: translate(-50%, -50%);
    }
  }

  &__link {
    font-size: 1.6rem;
    text-shadow: 0px 2px 1px rgba($color-black, 1);
  }

  &:hover &__details {
    opacity: 1;
  }

  &:first-child:hover {
    margin-left: 5rem;
  }

  &:hover ~ & {
    transform: translate3d($carousel-move-right, 0, 0);
  }
}

.tile-show {
  position: relative;
  display: inline-block;
  width: $tile-width;
  // height: $tile-height;
  margin-right: 1rem;
  font-size: 2rem;
  cursor: pointer;
  transition: $carousel-transition-duration all ease-out; // ADD THE ENTIRE TRANSITION PROPERTY SINCE ADDED THE EASE-OUT
  transform-origin: center left;

  &__poster {
    width: $tile-width;
    object-fit: cover;
  }

  &__details {
    position: absolute;
    bottom: 0;
    left: 0;
    right: 0;
    top: 0;
    font-size: 1rem;
    opacity: 0;
    background: linear-gradient(
      to top,
      rgba($color-black, 0.9) 0%,
      rgba($color-black, 0) 150%
    );
    transition: $carousel-transition-duration opacity;

    .tile-show__title {
      position: absolute;
      top: 50%;
      left: 50%;
      transform: translate(-50%, -50%);
    }
  }

  &__link {
    font-size: 1.6rem;
    text-shadow: 0px 2px 1px rgba($color-black, 1);
  }

  &:hover &__details {
    opacity: 1;
  }

  // DO NO DELETE NOR COMMENT! USE JS TO REMOVE!!!
  // &:first-child:hover {
  //   margin-left: 5rem;
  // }

  &:hover ~ & {
    transform: translate3d($carousel-move-right, 0, 0);
  }
}

.tile-card {
  display: inline-table;
  position: relative;
  width: 30rem;
  height: 45rem;
  margin-left: 2rem;
  margin-right: 2rem;
  text-align: center;
  background-color: $color-light-blue-2;
  white-space: pre-wrap;
  cursor: pointer;
  transition: $carousel-transition-duration all;
  transform-origin: center left;

  &__reviewer {
    background-image: linear-gradient(
      180deg,
      $color-lightseagreen,
      $color-light-blue-2
    );
    border-bottom: 0.1rem solid black;

    &-photo {
      padding: 0.5rem;
    }

    &-name {
      padding: 1rem;
    }
  }

  &__photo-img {
    width: 10rem;
    height: 10rem;
    border-radius: 50%;
  }

  &__review {
    width: 95%;
    margin-top: 1rem;
    margin-left: auto;
    margin-right: auto;

    &-text {
      color: white;
    }
  }

  &:first-child:hover {
    margin-left: 5rem;
  }

  &:hover ~ & {
    transform: translate3d($carousel-move-right, 0, 0);
  }
}

.tile-ticket {
  position: relative;
  display: inline-block;
  transition: $carousel-transition-duration all;
  transform-origin: center left;

  &:not(:first-child) {
    @include respond(tab-port) {
      margin-left: 5rem;
    }
  }

  &__media-link {
    display: inline-block;
    width: 40%;
    height: 40%;

    &--poster {
      @include respond(tab-port) {
        width: $tile-width;
        height: $tile-height-poster;
      }
    }

    &--logo {
      @include respond(tab-port) {
        width: $tile-width;
        height: $tile-height;
      }
    }
  }

  &__media-img {
    width: 100%;
    height: 100%;
    object-fit: cover;
  }

  &__title {
    @include respond(tab-port) {
      margin-top: 1.5rem;
    }

    &-content {
      letter-spacing: 0.5rem;
    }
  }

  &__metadata {
    list-style-type: none;
    margin: 0;
    padding: 0;

    &-item {
      display: inline;
    }

    &-item:not(:last-child)::after {
      content: ' - ';
    }
  }

  &__options {
    width: 80%;
    margin-left: auto;
    margin-right: auto;
    margin-top: 1rem;

    @include respond(tab-port) {
      margin-top: 1.5rem;
      // width: 60%;
    }

    // @include respond(tab-land) {
    //   width: 70%;
    // }
  }
}
