.card {
  background-color: $color-light-blue-2;
  background-image: linear-gradient(
    180deg,
    $color-lightseagreen,
    $color-light-blue-2
  );
  margin-top: 2rem;
  margin-bottom: 2rem;

  @include respond(tab-port) {
    width: 70vw;
    margin-top: 6rem;
    margin-bottom: 6rem;
    margin-left: auto;
    margin-right: auto;
  }

  @include respond(tab-land) {
    width: 90vh;
    // width: 85vmin;
  }

  &__poster {
    // Add new link helper class for cards
    &-link {
      display: block;
      height: 68rem;

      @include respond(tab-port) {
        height: 78vh;
      }

      @include respond(tab-land) {
        height: 78vw;
        // height: 78vmax;
      }
    }

    &-img {
      display: block;
      width: 100%;
      height: 100%;
      margin-left: auto;
      margin-right: auto;
      border-bottom: 0.1rem solid transparent;
      object-fit: cover;
    }
  }

  &__logo {
    &-link {
      display: block;
      height: 34rem;

      @include respond(tab-port) {
        height: 44vh;
      }

      @include respond(tab-land) {
        height: 44vw;
      }
    }

    &-img {
      display: block;
      width: 100%;
      height: 100%;
      margin-left: auto;
      margin-right: auto;
      border-bottom: 0.1rem solid transparent;
    }
  }

  &__poster,
  &__logo {
    width: 100%;
    position: relative;
    overflow: hidden;

    &:before,
    &:after {
      content: '';
      position: absolute;
      bottom: -1px;
      left: 50%;
      height: 0;
      border-left: 2.3rem solid transparent;
      border-right: 2.3rem solid transparent;
      border-bottom: 1.7rem solid $color-light-blue-2;
      z-index: 100;
      width: 100%;
    }

    &:after {
      left: -50%;
    }
  }

  // &__header-wrapper {
  //   margin-top: 1rem;
  // }

  &__page-title-wrapper {
    margin-top: 7rem;
    margin-bottom: 3rem;
  }

  &__page-title {
    font-weight: 400;
    letter-spacing: 1rem;
  }

  &__header {
    color: #87cefa; // lightskyblue
  }

  &__mpaa,
  &__runtime,
  &__has-tickets {
    margin-bottom: 0.3rem;
  }

  &__mpaa,
  &__runtime,
  &__ratings,
  &__has-tickets,
  &__has-shows {
    letter-spacing: 0.2rem;
  }

  &__details {
    padding: 1.4rem;
  }

  &__footer {
    // margin-top: 2rem;

    .btn__promo {
      font-size: 2rem;
      font-weight: 500;
      text-transform: uppercase;

      @include respond(tab-port) {
        font-size: 2.3rem;
        margin-bottom: 1rem;
      }
    }
  }
}

.card-account {
  &__content {
    &-photo-img {
      width: 100%;
      height: 100%;
    }

    &-type {
      @include respond(tab-port) {
        margin-top: 1.5rem;
      }

      &-name {
        letter-spacing: 0.5rem;
      }
    }
  }

  &__metadata-container {
    text-align: center;
  }

  &__metadata {
    list-style-type: none;
    margin: 0;
    padding: 0;

    &-item {
      display: inline;

      &:not(:last-child)::after {
        content: ' - ';
      }
    }
  }

  &__footer {
    &-duo-btn {
      display: -webkit-flex;
      display: -ms-flexbox;
      display: flex;
      width: 90%;
      -webkit-justify-content: space-between;
      -ms-justify-content: space-between;
      justify-content: space-between;
      margin-left: auto;
      margin-right: auto;
      margin-bottom: 4rem;

      &-1,
      &-2 {
        -webkit-flex-basis: 40%;
        -ms-flex-basis: 40%;
        flex-basis: 40%;

        @include respond(tab-port) {
          -webkit-flex-basis: 50%;
          -ms-flex-basis: 50%;
          flex-basis: 50%;
        }
      }
    }
  }
}
