.card {
  background-color: $color-light-blue-2;
  background-image: linear-gradient(
    180deg,
    $color-lightseagreen,
    $color-light-blue-2
  );

  &__poster {
    width: 100%;
    position: relative;
    overflow: hidden;

    &-img {
      display: none;
    }

    &:before,
    &:after {
      content: '';
      position: absolute;
      bottom: -1px;
      left: 50%;
      height: 0;
      border-left: 2.3rem solid transparent;
      border-right: 2.3rem solid transparent;
      border-bottom: 1.7rem solid $color-light-blue-2;
      z-index: 100;
      width: 100%;
    }

    &:after {
      left: -50%;
    }
  }

  /* &__header-wrapper {
    position: relative;
    top: -18rem;
  } */

  &__details {
    position: relative;
    top: -2rem;
    padding: 1.4rem;
  }

  &__footer {
    margin-top: 2rem;

    .btn__promo {
      font-size: 2rem;
      font-weight: 500;
      text-transform: uppercase;
    }
  }
}
