.dropdown {
  font-family: inherit;
  font-size: 1.5rem;
  color: $color-light-silver;
  background-color: $color-dim-grey-3;
  height: 5rem;
  width: 100%;
  padding: 0.8rem 1.7rem;
  border: none;
  border-bottom: 0.3rem solid transparent;
  -webkit-border-radius: 0.2rem;
  -moz-border-radius: 0.2rem;
  -o-border-radius: 0.2rem;
  border-radius: 0.2rem;
  -webkit-appearance: none;
  -moz-appearance: none;
  appearance: none;
  background-image: url(../img/down-chevron.png);
  background-repeat: no-repeat;
  background-position: right 1rem center;
  background-size: 0.8rem 0.4rem;
  transition: all 0.3s;

  @include respond(tab-port) {
    font-size: 2rem;
    height: 6vh;
  }

  @include respond(tab-land) {
    // font-size: 2.3rem;
    font-size: 1.8rem;
    height: 6vw;
  }

  @include respond(desktop) {
    font-size: 1.2rem;
    height: 4.5rem;
  }

  &:focus {
    outline: none !important;
    border-bottom: 0.3rem solid $color-lightseagreen;

    @include respond(tab-port) {
      border-bottom: 0.4rem solid $color-lightseagreen;
    }

    @include respond(tab-land) {
      border-bottom: 0.3em solid $color-lightseagreen;
    }
  }

  &:focus:invalid {
    border-bottom: 0.3rem solid $color-red;

    @include respond(tab-port) {
      border-bottom: 0.4rem solid $color-lightseagreen;
    }

    @include respond(tab-land) {
      border-bottom: 0.3rem solid $color-lightseagreen;
    }
  }

  &::-webkit-input-placeholder {
    color: $color-light-silver;
  }
}

//.dropdown {
//  position: relative;
//  display: block;
//  font-size: 1.5rem;
//  color: $color-light-silver;
//  width: 100%;
//  margin: 0 auto;
//
//  &__current {
//    position: relative;
//    cursor: pointer;
//    outline: none;
//
//    &:focus {
//      & + .dropdown__list {
//        opacity: 1;
//        animation-name: none;
//
//        .dropdown__option {
//          cursor: pointer;
//        }
//      }
//
//      .dropdown__icon {
//        transform: translateY(-50%) rotate(180deg);
//      }
//    }
//  }
//
//  &__icon {
//    position: absolute;
//    top: 50%;
//    right: 1.5rem;
//    transform: translateY(-50%);
//    width: 2rem;
//    opacity: .3;
//    transition: .2s ease;
//    font-size: 2rem;
//  }
//
//  &__value {
//    display: flex;
//  }
//
//  &__input {
//    display: none;
//
//    &:checked + .dropdown__input-text {
//      display: block;
//    }
//  }
//
//  &__input-text {
//    display: none;
//    width: 100%;
//    margin: 0;
//    padding: 1.5rem;
//    background-color: rgba($color-white, .3);
//  }
//
//  &__list {
//    position: absolute;
//    width: 100%;
//    padding: 0;
//    list-style: none;
//    opacity: 0;
//    animation-name: HideList;
//    animation-duration: .5s;
//    animation-delay: .5s;
//    animation-fill-mode: forwards;
//    animation-timing-function: step-start;
//  }
//
//  &__option {
//    display: block;
//    padding: 1.5rem;
//    background-color: $color-dim-grey;
//
//    &:hover,
//    &:focus {
//      color: $color-light-silver-2;
//      background-color: $color-dim-grey-2;
//    }
//  }
//}
//
//@keyframes HideList {
//  from {
//    transform: scaleY(1);
//  }
//  to {
//    transform: scaleY(0);
//  }
//}
