.form {
  &-container__multiform {
    overflow: hidden;
  }

  &__multiform {
    display: -webkit-flex;
    display: -ms-flexbox;
    display: flex;
    width: 400%;
  }

  &__fieldset {
    width: 25%;
    border: none;
    transition: margin-left 0.3s ease-in-out;
  }

  &__title {
    width: 95%;
    margin-left: auto;
    margin-right: auto;
  }

  &__group:not(:last-child) {
    margin-bottom: 2rem;
  }

  &__group:last-child {
    text-align: center;
  }

  &__input,
  &__text-area {
    //font-family: inherit;
    //font-size: 1.5rem;
    //color: $color-white;
    padding: 1.5rem 2rem;
    border-radius: 0.2rem;
    //background-color: rgba($color-white, .3);
    border: none;
    border-bottom: 0.3rem solid transparent;
    width: 90%;
    display: block;
    margin-left: auto;
    margin-right: auto;
    transition: all 0.3s;

    &:focus {
      outline: none;
      border-bottom: 0.3rem solid $color-lightseagreen;
    }

    &:focus:invalid {
      border-bottom: 0.3rem solid $color-red;
    }

    &::-webkit-input-placeholder {
      color: $color-light-silver;
    }
  }

  &__text-area {
    height: 20rem;
  }

  &__label {
    //font-size: 1.2rem;
    //font-weight: 700;
    //color: $color-lightseagreen;
    margin-left: 3rem;
    margin-top: 0.7rem;
    display: block;
    transition: all 0.3s;
  }

  &__input:placeholder-shown + &__label,
  &__text-area:placeholder-shown + &__label {
    opacity: 0;
    visibility: hidden;
    transform: translateY(-4rem);
  }

  &__input:focus:invalid + &__label,
  &__text-area:focus:invalid + &__label {
    color: $color-red;
  }

  &__link {
    width: 95%;
    margin-left: auto;

    &-small {
      color: $color-light-silver;
    }
  }

  &__info {
    width: 95%;
    margin-left: auto;

    &-small {
      color: $color-light-silver;
    }
  }

  &__captcha {
    width: 50%;
    text-align: center;
    font-style: italic;
    margin-left: auto;
    margin-right: auto;
  }

  &__gender,
  &__content-type,
  &__special-venue {
    width: 90%;
    margin-left: auto;
    margin-right: auto;
    margin-bottom: 4rem;
  }

  &__date,
  &__duo-btn {
    display: -webkit-flex;
    display: -ms-flexbox;
    display: flex;
    width: 90%;
    -webkit-justify-content: space-between;
    -ms-justify-content: space-between;
    justify-content: space-between;
    margin-left: auto;
    margin-right: auto;
    margin-bottom: 4rem;
  }

  &__date {
    // display: -webkit-flex;
    // display: -ms-flexbox;
    // display: flex;
    // width: 90%;
    // -webkit-justify-content: space-between;
    // -ms-justify-content: space-between;
    // justify-content: space-between;
    // margin-left: auto;
    // margin-right: auto;
    // margin-bottom: 4rem;

    &-month {
      -webkit-flex-basis: 40%;
      -ms-flex-basis: 40%;
      flex-basis: 40%;
    }

    &-day {
      -webkit-flex-basis: 25%;
      -ms-flex-basis: 25%;
      flex-basis: 25%;
    }

    &-year {
      -webkit-flex-basis: 30%;
      -ms-flex-basis: 30%;
      flex-basis: 30%;
    }
  }

  &__duo-btn {
    &-previous,
    &-next,
    &-submit {
      -webkit-flex-basis: 40%;
      -ms-flex-basis: 40%;
      flex-basis: 40%;
    }
  }
}
