.stars,
.stars-user,
.stars-show {
  font-size: 2rem;
  font-weight: 900;

  & .star {
    color: $color-lightseagreen;
    font-size: 2rem;
    padding: 0 1rem;

    &::before {
      content: '\2606';
      // cursor: pointer;
    }

    &.rated::before {
      content: '\2605';
    }
  }
}

.stars .star::before {
  cursor: pointer;
}

// .star,
// .star-user {
//   color: $color-lightseagreen;
//   font-size: 2rem;
//   padding: 0 1rem;

//   &::before {
//     content: '\2606';
//     // cursor: pointer;
//   }

//   &.rated::before {
//     content: '\2605';
//   }

//   & .stars {
//     font-size: 2rem;
//     font-weight: 900;
//   }
// }

// .star {
//   &::before {
//     cursor: pointer;
//   }
// }
