.star {
  color: $color-lightseagreen;
  font-size: 2rem;
  padding: 0 1rem;

  &::before {
    content: '\2606';
    cursor: pointer;
  }

  &.rated::before {
    content: '\2605';
  }

  & .stars {
    font-size: 2rem;
    font-weight: 900;
  }
}
