@mixin clearfix {
  &::after {
    content: '';
    display: table;
    clear: both;
  }
}

// MEDIA QUERY MANAGER
/*
0 - 380px: Small Mobile (Max-Width 379px)
[380px - 480px] the normal style in use (Mobile-First @ Min-Width 380px)
480px - 600px: Big Mobile (Min-Width 480px)
600px - 900px: Tablet Portrait (Min-Width 600px)
900px - 1200px: Tablet Landscape (Min-Width 900px)
1200px - 1800px: Normal Desktop (Min-Width 1200px)
1800px + : Big Desktop (Min-Width 1800px)

$breakpoint argument choices:
 - small-mobile
 - big-mobile
 - tab-port
 - tab-land
 - desktop
 - big-desktop; 

379px/16px = 23.6875em (ratio)

1em = 16px

MIN-WIDTH
25em = 400px
30em = 480px
37.4375em = 599px <-- For when phones are in landscape
37.5em = 600px
56.25em = 900px
75em = 1200px
112.5em = 1800px

MAX-WIDTH
20em = 320px
23.4375 = 375px
*/
@mixin respond($breakpoint) {
  @if $breakpoint == max-320 {
    @media (max-width: 20em) {
      @content;
    }
  }

  @if $breakpoint == max-375 {
    @media (max-width: 23.4375em) {
      @content;
    }
  }

  @if $breakpoint == small-mobile {
    @media (max-width: 25em) {
      @content;
    }
  }
  @if $breakpoint == big-mobile {
    @media (min-width: 30em) {
      @content;
    }
  }
  @if $breakpoint == tab-port {
    @media (min-width: 37.5em) {
      @content;
    }
  }
  @if $breakpoint == tab-land {
    @media (min-width: 56.25em) {
      @content;
    }
  }
  @if $breakpoint == desktop {
    @media (min-width: 75em) {
      @content;
    }
  }
  @if $breakpoint == big-desktop {
    @media (min-width: 112.5em) {
      @content;
    }
  }
}

// FONT AWESOME
// Mixins
// --------------------------

@mixin fa-icon {
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  display: inline-block;
  font-style: normal;
  font-variant: normal;
  font-weight: normal;
  line-height: 1;
}

@mixin fa-icon-rotate($degrees, $rotation) {
  -ms-filter: 'progid:DXImageTransform.Microsoft.BasicImage(rotation=#{$rotation})';
  transform: rotate($degrees);
}

@mixin fa-icon-flip($horiz, $vert, $rotation) {
  -ms-filter: 'progid:DXImageTransform.Microsoft.BasicImage(rotation=#{$rotation}, mirror=1)';
  transform: scale($horiz, $vert);
}

// Only display content to screen readers. A la Bootstrap 4.
//
// See: http://a11yproject.com/posts/how-to-hide-content/

@mixin sr-only {
  border: 0;
  clip: rect(0, 0, 0, 0);
  height: 1px;
  margin: -1px;
  overflow: hidden;
  padding: 0;
  position: absolute;
  width: 1px;
}

// Use in conjunction with .sr-only to only display content when it's focused.
//
// Useful for "Skip to main content" links; see http://www.w3.org/TR/2013/NOTE-WCAG20-TECHS-20130905/G1
//
// Credit: HTML5 Boilerplate

@mixin sr-only-focusable {
  &:active,
  &:focus {
    clip: auto;
    height: auto;
    margin: 0;
    overflow: visible;
    position: static;
    width: auto;
  }
}
