// COLORS
$color-bg-dark-green-blue-1: #003733;
$color-bg-dark-green-blue-2: #001b19;

$color-green-1: #007800;
$color-green-2: #007869;
$color-lightseagreen: #20b2aa;

$color-dark-blue-1: #001b4c;
$color-light-blue: #0086dc;
$color-light-blue-2: #0067aa;
$color-grey-blue: #546c84;

$color-light-silver: #d3d3d3;
$color-light-silver-2: #bfbfbf;

$color-white: #fff;
$color-snow: #fffafa;

$color-dim-grey: #696969;
$color-dim-grey-2: #646464;
$color-dim-grey-3: #505050;

$color-black: #000;

$color-red: #ff0000;

// FONT
$font-size-primary-large: 6rem;
$font-size-primary-medium: 4rem;
$font-size-primary-small: 2rem;

$font-size-secondary-large: 3.5rem;
$font-size-secondary-medium: 3rem;
$font-size-secondary-small: 2.5rem;

$font-size-tertiary-large: 2.5rem;
$font-size-tertiary-medium: 2rem;
$font-size-tertiary-small: 1.5rem;

$default-font-size: 1.6rem;
$default-font-size--tab-port: 1.8rem;
$default-font-size--tab-land: 2rem;

$font-size-average: 1.3rem;
$font-size-average--tab-port: 1.5rem;
$font-size-average--tab-land: 1.7rem;

$font-size-book: 1.2rem;
$font-size-book--tab-port: 1.4rem;
$font-size-book--tab-land: 1.6rem;

$font-size-small: 1.1rem;
$font-size-small--tab-port: 1.35rem;
$font-size-small--tab-land: 1.5rem;

$font-size-fontawesome: 3.2rem;

// GRID
$grid-width: 114rem;
$gutter-vertical: 8rem;
$gutter-horizontal: 6rem;

// HEADER
$items: 5;
$transition-duration: 0.5s;
$transition-delay: 0.05s;

// CAROUSEL
$carousel-transition-duration: 450ms;
$tile-width: 25rem;
$tile-height: ($tile-width / (16/9));
$tile-height-poster: ($tile-width / (12/18));
$carousel-grow-factor: 1.3;
$carousel-move-left: -($tile-width * ($carousel-grow-factor - 1) / 2);
$carousel-move-right: $tile-width * ($carousel-grow-factor - 1);
